div.inner
    div.title-holder
        span.upper-title= translate('emotions-upper-title')
        h2
            span= translate('emotions-title-upper-part')
            span= translate('emotions-title-lower-part')
        span.decorator

    figure.photo-holder
        img(src='../images/emotions.jpg')

    div.btn
        a(href=url('order'))
            span.text#mHomePreorder2Btn= translate('order-kickstarter')