div.inner
    div.title-holder
        span.upper-title= translate('features-upper-title')
        h2= translate('features-title')
        span.decorator

    div.clip-holder
        figure
            img(src='../images/features-clip.png')

    div.features
        ul
            li
                span.icon.icon-cubes
                div.info
                    h3= translate('easy-to-wear')
                    p= translate('easy-to-wear-text')
            li
                span.icon.icon-eye
                div.info
                    h3= translate('interact')
                    p= translate('interact-text')
            li
                span.icon.icon-glasses
                div.info
                    h3= translate('totally-universal')
                    p= translate('totally-universal-text')
            li
                span.icon.icon-interactivity
                div.info
                    h3= translate('autonomous-in-videogames')
                    p= translate('autonomous-in-videogames-text')
            li
                span.icon.icon-globe
                div.info
                    h3= translate('environment')
                    p= translate('environment-text')
            li
                span.icon.icon-perception
                div.info
                    h3= translate('affordable')
                    p= translate('affordable-text')
            li
                span.icon.icon-leaf
                div.info
                    h3= translate('ecofriendly')
                    p= translate('ecofriendly-text')