div.inner
    div.info-holder
        span.slogan= home.upperTitle
        h1= home.title
        span.separator
        p= home.text
        div.btn
            a(href=url('order'))
                span.text= translate('order-kickstarter')
                
div#clip-holder
    div.inner
        div#canvas-holder
            canvas#clip(data-resource='../images/clip-sprite.png')
        div#bg-circle
        figure#clip-photo-holder
            img(src='../images/clip.png')

div.scroll-holder
    span.scroll-line

div.tooltip-holder
    p= translate('tooltip')