div.inner
    div.title-holder
        span.upper-title= translate('tech-upper-title')
        h2
            span.upper-part= translate('tech-title-upper-part')
            span.lower-part= translate('tech-title-lower-part')
        span.decorator

    div.scheme-holder
        figure
            img(src='../images/clip-scheme.png')

    div.tech
        ul
            li
                div.inner
                    span.text= translate('tech-hand')
            li
                div.inner
                    span.text= translate('tech-led')
            li
                div.inner
                    span.text= translate('tech-tasks')
            li
                div.inner
                    span.text= translate('tech-vibro')
            li
                div.inner
                    span.text= translate('tech-fps')
            li
                div.inner
                    span.text= translate('tech-bluetooth')
            li
                div.inner
                    span.text= translate('tech-charging')
            li
                div.inner
                    span.text= translate('tech-hypoallergenic')
            li
                div.inner
                    span.text= translate('tech-resistance')
            li
                div.inner
                    span.text= translate('tech-players')