div.inner
    span.upper-title= about.upperTitle
    h1= about.title
    p= about.text
    span.quote= about.author

div.scroll-holder
    span.scroll-line

- var email = getEmail()

a(class='email-holder' href='mailto:'+ email)
    span.text= email