meta(name="keywords", content=meta.keywords)
meta(name="description", content=meta.description)
meta(name="robots", content=meta.robots)
meta(property="og:type", content="website")
meta(property="og:title", content=meta.title)
meta(property="og:description", content=meta.description)
meta(property="og:url", content=absoluteUrl())
meta(property="og:image", content=meta.image.secure_url)